.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.modal button {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal button {
  height: 20%;
  width: 40%;
  border-radius: 12px;
}

.modal button:first-of-type {
  background-color: #ccffcc;
  color: #000;
  margin-right: 10%;
}

.modal button:last-of-type {
  background-color: #ff6666;
  color: #fff;
}

.modal-content p:last-of-type {
  padding-left: 20%;
  padding-right: 20%;
}

#message {
  text-align: center;
}

body {
  font-family: garamond, georgia, serif;
  text-align: justify;
}

h3 {
  font-family: tahoma, helvetica, sans-serif;
  text-align: center;
}

form {
  width: 348px;
  margin: 0 auto;
}

fieldset {
  width: 320px;
}

#container {
  position: relative;
}

.row {
  background-color: #ffffcc;
  width: 320px;
}

.square {
  float: left;
  width: 40px;
  height: 40px;
  background-color: #666633;
  margin-left: 40px;
}

.row:nth-of-type(even) > .square {
  margin-left: 0;
  margin-right: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.checker {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border: 0.1em dotted transparent;
  border-radius: 50%;
  display: block;
  width: 79%;
  height: 79%;
  margin: 6%;
}

.black {
  background-color: #222;
  border-color: #ccffcc;
}

.red {
  background-color: #cc0000;
  border-color: #222;
}

.highlight {
  background-color: #f5c71a;
}

/*.highlight .checker {
  animation: spin 4s linear infinite;
}*/

.highlight .black {
  border: 0.15em dashed #fff;
}

.highlight .red {
  border: 0.15em dashed #222;
}

.black.selected {
  position: relative;
  top: 20%;
  left: 20%;
  box-shadow: -2vw -2vw 1vw 0 rgba(0, 0, 0, 0.75);
}

.red.selected {
  position: relative;
  top: -20%;
  left: -20%;
  box-shadow: 2vw 2vw 1vw 0 rgba(0, 0, 0, 0.75);
}

.king {
  opacity: 0.5;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Crown_of_the_Kingdom_of_Greece.svg/80px-Crown_of_the_Kingdom_of_Greece.svg.png");
}

/*@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}*/

.ai-cover {
  background-color: transparent;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
