.sidebar {
  width: 240px;
  background: rgba(255, 255, 255, 0.5); /* very light transparency */
  border-right: 3px solid #511910;
  padding: 12px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  overflow: hidden;
  backdrop-filter: blur(6px); /* optional: makes background blurry and stylish */
}

.sidebar.collapsed {
  width: 0;
  padding: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggleSidebar {
  background: #3e2723;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}

#openSidebarBtn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: #3e2723;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  display: none; 
}

#bgUpload {
  width: 100%;
  margin-bottom: 12px;
  cursor: pointer;
}


.sidebar.collapsed + #openSidebarBtn {
  display: block;
}


.sidebar h2 {
  margin: 0 0 10px;
  color: #3e2723;
}

#pages {
  flex: 1;
  overflow-y: auto;
}

.page-btn {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  border: 2px solid #000;
  background: var(--c);
  cursor: pointer;
  font-weight: bold;
}

#addPage {
  padding: 8px;
  border: none;
  background: #795548;
  color: white;
  cursor: pointer;
}

.font-label {
  font-size: 13px;
  color: #3e2723;
  margin-bottom: 4px;
}

#fontSelect {
  width: 100%;
  padding: 6px;
  margin-bottom: 12px;
  border: 2px solid #3e2723;
  background: #fff;
}

#fontSizeSelect {
  width: 100%;
  padding: 6px;
  margin-bottom: 12px;
  border: 2px solid #3e2723;
  background: #fff;
}
