@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Patrick+Hand&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: radial-gradient(circle at top, #d8cfc4, #bfae9c);
  min-height: 97vh;
  padding:0px 20px;
  color: #3b2f2f;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.app-title {
  text-align: center;
  color: #3b2f2f;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.subtitle {
  text-align: center;
  color: #5a4a42;
  margin-bottom: 25px;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}

/* Bigger Calendar */
.calendar-container {
  background: #f7f1e6;
  border-radius: 20px;
  padding: 25px;
  max-width: 700px;   /* increased */
  margin: auto;
  box-shadow:
    inset 0 0 30px rgba(0,0,0,0.05),
    0 25px 60px rgba(0,0,0,0.35);
  border: 2px solid #e3d6c6;
}

.cal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cal-header h2 {
  font-size: 28px;
}

.cal-header button {
  background: #8b6f4e;
  border: none;
  color: #fff;
  font-size: 22px;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.3);
}

.weekdays, .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.weekdays span {
  font-weight: 600;
  color: #6b5a4a;
  margin: 12px 0;
  font-size: 16px;
}

.calendar-grid {
  gap: 10px;
}

.day {
  padding: 18px 0;   /* bigger cells */
  border-radius: 14px;
  background: #fffaf0;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.05);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.day:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.day.has-event {
  background: #efe1c8;
  border: 1px dashed #a88a65;
}

.event-dot {
  width: 7px;
  height: 7px;
  background: #8b3e2f;
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

/* Event Page */
.event-card {
  background: #f7f1e6;
  max-width: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow:
    inset 0 0 30px rgba(0,0,0,0.05),
    0 25px 60px rgba(0,0,0,0.35);
  border: 2px solid #e3d6c6;
}

.event-card input,
.event-card textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 12px;
  border: 1px solid #c8b8a6;
  font-size: 15px;
  background: #fffdf8;
  font-family: 'Patrick Hand', cursive;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.primary {
  background: #8b6f4e;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
}

.secondary {
  background: #e6dccf;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
}
