/* Import Google Font "Poppins" */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #051719;
}

.container {
    position: relative;
    max-width: 1200px;
    height: fit-content;
    margin: 80px auto;
}

.box {
    position: relative;
    width: 50%;
    padding: 1rem 3rem;
    opacity: 0;
    animation: animateBox 0.3s linear forwards;
}

@keyframes animateBox {
    0% {
        opacity: 0.8;
        transform: translateY(500px) scale(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.box:nth-child(2) {
    animation-delay: 0s;
}

.box:nth-child(3) {
    animation-delay: 0.4s;
}

.box:nth-child(4) {
    animation-delay: 0.6s;
}

.box:nth-child(5) {
    animation-delay: 0.9s;
}

.box:nth-child(6) {
    animation-delay: 1s;
}

.box:nth-child(7) {
    animation-delay: 1s;
}

.box-left {
    left: 0;
}

.box-right {
    left: 50%;
}

.box i {
    position: absolute;
    background: linear-gradient(-311deg, #000000, #003a40, #000);
    top: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    right: -25px;
    z-index: 10;
    /* color: red; */
}

.box .html {
    color: #00626c;
    border: 4px solid #00626c;
}

.box .css {
    /* color: var(--blue); */
    /* border: 4px solid var(--blue); */
    color: #00626c;
    border: 4px solid #00626c;
}

.box .javascript {
    /* color: var(--yellow); */
    /* border: 4px solid var(--yellow); */
    color: #00626c;
    border: 4px solid #00626c;
}

.box .react {
    /* color: var(--blue); */
    /* border: 4px solid var(--blue); */
    color: #00626c;
    border: 4px solid #00626c;
}

.box .angular {
    /* color: var(--red); */
    /* border: 4px solid var(--red); */
    color: #00626c;
    border: 4px solid #00626c;
}

.box .vue {
    /* color: var(--green); */
    /* border: 4px solid var(--green); */
    color: #00626c;
    border: 4px solid #00626c;
}

.box-right i {
    left: -25px;
}

.info {
    borser-bottom: 2px;
    position: relative;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    background: #002124;
    color: #fafafa;
    box-shadow: 0 5px 9px #000;
    border-bottom: 2px solid #00626c;
}

.info h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #0098a9;
}

.info p {
    font-size: 14px;
    margin-bottom: 10px;
}

.info a {
    text-decoration: none;
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
    display: none;
}

.info a:hover {
    text-decoration: underline;
}

.info::after {
    content: "";
    position: absolute;
    top: 25px;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #002124;
    right: -14px;
    z-index: 10;
}

.box-right .info::after {
    border-left: 0;
    border-right: 14px solid #002124;
    left: -14px;
}

.vertical-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 6px;
    height: 100%;
    transform: translateX(-50%);
    border-radius: 2px;
    background: linear-gradient(45deg, #051719, #003136 186%);
    animation: animateLine 3s linear forwards;
}

@keyframes animateLine {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@media screen and (max-width: 775px) {
    .container {
        margin: 40px auto;
    }

    .vertical-line {
        left: 60px;
    }

    .box {
        width: 100%;
        /* padding-right: 1.5rem; */
        padding-left: 109px;
    }

    .box-left,
    .box-right {
        left: 0;
    }

    .box i {
        left: 35px;
    }

    .info::after {
        left: -16px;
    }

    .box-left .info::after {
        border-left: 0;
        border-right: 14px solid white;
        left: -14px;
    }

    /* .box i::after {
    content: "";
    width: 6px;
    height: 50px;
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } */
}

@media screen and (max-width: 500px) {
    .vertical-line {
        left: 40px;
    }

    .box {
        width: 100%;
        padding-right: 1.5rem;
        padding-left: 85px;
    }

    .box i {
        left: 15px;
    }

    /* .box i::after {
    content: "";
    width: 5px;
    height: 50px;
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } */
}

footer {
    color: #fafafa;
    font-size: 19px;
    position: fixed;
    top: 320px;
    right: 20px;
    background: #051919;
}