* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #70c5ce, #b2ebf2);
}

/* GAME */
.game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #87ceeb, #dff6ff);
  overflow: hidden;
}

/* CLOUD */
.cloud {
  position: absolute;
  width: 70px;
  height: 40px;
  left: 80px;
  top: 200px;
  background: white;
  border-radius: 50px;
  box-shadow:
    20px 0 white,
    40px 10px white,
    15px -10px white,
    35px -15px white;
}

/* PIPES */
.pipe {
  position: absolute;
  width: 70px;
  background: linear-gradient(135deg, #2ecc71, #27ae60);
}

.pipe.top {
  top: 0;
  border-radius: 0 0 16px 16px;
}

.pipe.bottom {
  bottom: 0;
  border-radius: 16px 16px 0 0;
}

/* SCORE */
.score {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.45);
  padding: 10px 26px;
  border-radius: 40px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  z-index: 10;
  backdrop-filter: blur(6px);
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.18);
  padding: 35px 45px;
  border-radius: 22px;
  text-align: center;
  color: white;
  box-shadow: 0 30px 60px rgba(0,0,0,0.45);
}

.card h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  margin-bottom: 25px;
  opacity: 0.9;
}

/* BUTTONS */
button {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

#startBtn {
  background: #ffd166;
}

#restartBtn {
  background: #ff6b6b;
  color: white;
}

button:hover {
  transform: scale(1.05);
}
